
.HomePagefirstversion_HomePagefirstversion {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.HomePagefirstversion_HomePagefirstversion .ThoughtsandEmotions {
	position: absolute;
	left: 88.32px;
	top: 852.48px;
	width: 698.88px;
	height: 76.8px;
	color: rgba(89,132,106,1.00);
	font-family: Mulish;
	font-size: 61.44px;
	font-weight: 700;
	line-height: 77.10719970703124px;
}
.HomePagefirstversion_HomePagefirstversion .Other {
	position: absolute;
	left: 88.32px;
	top: 2376.96px;
	width: 153.6px;
	height: 72.96px;
	color: rgba(89,132,106,1.00);
	font-family: Roboto;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.HomePagefirstversion_HomePagefirstversion .Rectangle781 {
	position: absolute;
	left: 986.88px;
	top: 119.03999999999999px;
	width: 464.64px;
	height: 453.12px;
	object-fit: cover;
	overflow: hidden;
}
.HomePagefirstversion_HomePagefirstversion .HelloAndrew {
	position: absolute;
	left: 88.32px;
	top: 357.12px;
	width: 602.88px;
	height: 80.64px;
	color: rgba(122,166,139,1.00);
	font-family: Lato;
	font-size: 92.16px;
	font-weight: 800;
	line-height: 92.16px;
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs {
	position: absolute;
	left: 88.32px;
	top: 672px;
	width: 1305.6px;
	height: 867.8399999999999px;
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Mindfulness {
	position: absolute;
	left: 1704.96px;
	top: 288px;
	width: 506.88px;
	height: 545.28px;
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Mindfulness .Rectangle1948 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 506.88px;
	height: 384px;
	background: rgba(248,248,248,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Mindfulness .Rectangle1949 {
	position: absolute;
	left: 0px;
	top: 380.15999999999997px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Mindfulness .Mindfulness_1 {
	position: absolute;
	left: 80.64px;
	top: 426.24px;
	width: 341.76px;
	height: 72.96px;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Mindfulness .SymptomLog {
	position: absolute;
	left: 606.72px;
	top: 11.52px;
	width: 506.88px;
	height: 545.28px;
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Mindfulness .SymptomLog .Rectangle1948_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 506.88px;
	height: 384px;
	background: rgba(248,248,248,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Mindfulness .SymptomLog .Rectangle1949_1 {
	position: absolute;
	left: 0px;
	top: 380.15999999999997px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Mindfulness .SymptomLog .SymptomLog_1 {
	position: absolute;
	left: 61.44px;
	top: 426.24px;
	width: 384px;
	height: 72.96px;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Rectangle21 {
	position: absolute;
	left: 0px;
	top: 291.84px;
	width: 506.88px;
	height: 384px;
	background: rgba(248,248,248,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Rectangle22 {
	position: absolute;
	left: 0px;
	top: 675.8399999999999px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .MoodTracker {
	position: absolute;
	left: 65.28px;
	top: 721.92px;
	width: 380.15999999999997px;
	height: 72.96px;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Rectangle1944 {
	position: absolute;
	left: 1128.96px;
	top: 288px;
	width: 506.88px;
	height: 384px;
	object-fit: cover;
	overflow: hidden;
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Rectangle1945 {
	position: absolute;
	left: 1128.96px;
	top: 668.16px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .CBTThoughtRecord {
	position: absolute;
	left: 1144.32px;
	top: 687.36px;
	width: 472.32px;
	height: 168.95999999999998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 57.599999999999994px;
	font-weight: 500;
	line-height: 67.5px;
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Rectangle1946 {
	position: absolute;
	left: 1128.96px;
	top: 288px;
	width: 506.88px;
	height: 384px;
	background: rgba(248,248,248,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Rectangle1947 {
	position: absolute;
	left: 1128.96px;
	top: 668.16px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .CBTFillouts {
	position: absolute;
	left: 1144.32px;
	top: 706.56px;
	width: 472.32px;
	height: 84.47999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 57.599999999999994px;
	font-weight: 500;
	line-height: 67.5px;
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Rectangle1936 {
	position: absolute;
	left: 568.3199999999999px;
	top: 288px;
	width: 506.88px;
	height: 384px;
	background: rgba(248,248,248,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Rectangle18 {
	position: absolute;
	left: 568.3199999999999px;
	top: 668.16px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .thoughtsandemotionstabs .Journaling {
	position: absolute;
	left: 672px;
	top: 706.56px;
	width: 295.68px;
	height: 72.96px;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.HomePagefirstversion_HomePagefirstversion .SleepMeditationtabs {
	position: absolute;
	left: 88.32px;
	top: 1777.9199999999998px;
	width: 1305.6px;
	height: 549.12px;
}
.HomePagefirstversion_HomePagefirstversion .SleepMeditationtabs .Rectangle23 {
	position: absolute;
	left: 568.3199999999999px;
	top: 0px;
	width: 506.88px;
	height: 384px;
	background: rgba(248,248,248,1.00);
}
.HomePagefirstversion_HomePagefirstversion .SleepMeditationtabs .Rectangle24 {
	position: absolute;
	left: 568.3199999999999px;
	top: 384px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .SleepMeditationtabs .Meditation {
	position: absolute;
	left: 675.8399999999999px;
	top: 430.08px;
	width: 299.52px;
	height: 72.96px;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.HomePagefirstversion_HomePagefirstversion .SleepMeditationtabs .Rectangle25 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 506.88px;
	height: 384px;
}
.HomePagefirstversion_HomePagefirstversion .SleepMeditationtabs .Rectangle30 {
	position: absolute;
	left: 0px;
	top: 384px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .SleepMeditationtabs .SleepLog {
	position: absolute;
	left: 115.19999999999999px;
	top: 430.08px;
	width: 272.64px;
	height: 72.96px;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.HomePagefirstversion_HomePagefirstversion .SleepMeditation {
	position: absolute;
	left: 88.32px;
	top: 1620.48px;
	width: 549.12px;
	height: 76.8px;
	color: rgba(89,132,106,1.00);
	font-family: Mulish;
	font-size: 61.44px;
	font-weight: 700;
	line-height: 77.10719970703124px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations {
	position: absolute;
	left: 142.07999999999998px;
	top: 541.4399999999999px;
	width: 1171.2px;
	height: 230.39999999999998px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame6 {
	position: absolute;
	left: 6163.2px;
	top: 0px;
	width: 1079.04px;
	height: 230.39999999999998px;
	display: flex;
	padding-top: 23.04px;
	padding-right: 72.96px;
	padding-bottom: 23.04px;
	padding-left: 61.44px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 165.12px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame6 .Iamcontinuallyevolvingintoastrongerversionofmyself {
	position: relative;
	flex: none;
	margin-right: 15.36px;
	width: 944.64px;
	height: 180.48px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 57.599999999999994px;
	font-weight: 500;
	line-height: 92.16px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame7 {
	position: absolute;
	left: 4930.5599999999995px;
	top: 0px;
	width: 1079.04px;
	height: 230.39999999999998px;
	display: flex;
	padding-top: 23.04px;
	padding-right: 72.96px;
	padding-bottom: 23.04px;
	padding-left: 61.44px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 165.12px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame7 .Iamonabeautifuljourneytoabetterlife {
	position: relative;
	flex: none;
	margin-right: 15.36px;
	width: 944.64px;
	height: 180.48px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 57.599999999999994px;
	font-weight: 500;
	line-height: 92.16px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1079.04px;
	height: 230.39999999999998px;
	display: flex;
	padding-top: 23.04px;
	padding-right: 72.96px;
	padding-bottom: 23.04px;
	padding-left: 61.44px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 165.12px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame8 .Iamgratefultohavepeopleinmylifewhosupportme {
	position: relative;
	flex: none;
	margin-right: 15.36px;
	width: 944.64px;
	height: 180.48px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 57.599999999999994px;
	font-weight: 500;
	line-height: 92.16px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame9 {
	position: absolute;
	left: 1232.6399999999999px;
	top: 0px;
	width: 1079.04px;
	height: 230.39999999999998px;
	display: flex;
	padding-top: 23.04px;
	padding-right: 72.96px;
	padding-bottom: 23.04px;
	padding-left: 61.44px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 165.12px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame9 .Iamdoingmybestandthatisalwaysenough {
	position: relative;
	flex: none;
	margin-right: 15.36px;
	width: 944.64px;
	height: 180.48px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 57.599999999999994px;
	font-weight: 500;
	line-height: 92.16px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame10 {
	position: absolute;
	left: 2465.2799999999997px;
	top: 0px;
	width: 1079.04px;
	height: 230.39999999999998px;
	display: flex;
	padding-top: 23.04px;
	padding-right: 72.96px;
	padding-bottom: 23.04px;
	padding-left: 61.44px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 165.12px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame10 .IamincontrolofmylifeandIchoosetoletgoofnegativebeliefs {
	position: relative;
	flex: none;
	margin-right: 15.36px;
	width: 944.64px;
	height: 180.48px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 57.599999999999994px;
	font-weight: 500;
	line-height: 92.16px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame11 {
	position: absolute;
	left: 3697.92px;
	top: 0px;
	width: 1079.04px;
	height: 230.39999999999998px;
	display: flex;
	padding-top: 23.04px;
	padding-right: 72.96px;
	padding-bottom: 23.04px;
	padding-left: 61.44px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 165.12px;
}
.HomePagefirstversion_HomePagefirstversion .Affirmations .Frame11 .Iamproudofmyselfforgettingthisfar {
	position: relative;
	flex: none;
	margin-right: 15.36px;
	width: 944.64px;
	height: 180.48px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 57.599999999999994px;
	font-weight: 500;
	line-height: 92.16px;
}
.HomePagefirstversion_HomePagefirstversion .Othertabs {
	position: absolute;
	left: 88.32px;
	top: 2530.56px;
	width: 1305.6px;
	height: 549.12px;
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .Help {
	position: absolute;
	left: 1693.4399999999998px;
	top: 0px;
	width: 506.88px;
	height: 545.28px;
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .Help .Rectangle1952 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 506.88px;
	height: 384px;
	background: rgba(248,248,248,1.00);
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .Help .Rectangle1953 {
	position: absolute;
	left: 0px;
	top: 380.15999999999997px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .Help .Help_1 {
	position: absolute;
	left: 192px;
	top: 418.56px;
	width: 119.03999999999999px;
	height: 69.12px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 57.599999999999994px;
	font-weight: 500;
	line-height: 67.5px;
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .Medication {
	position: absolute;
	left: 1132.8px;
	top: 0px;
	width: 506.88px;
	height: 549.12px;
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .Medication .Rectangle21_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 506.88px;
	height: 384px;
	background: rgba(248,248,248,1.00);
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .Medication .Rectangle22_1 {
	position: absolute;
	left: 0px;
	top: 384px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .Medication .Medication_1 {
	position: absolute;
	left: 96px;
	top: 418.56px;
	width: 311.03999999999996px;
	height: 72.96px;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .safetyplan {
	position: absolute;
	left: 572.16px;
	top: 0px;
	width: 506.88px;
	height: 545.28px;
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .safetyplan .Rectangle1956 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 506.88px;
	height: 384px;
	background: rgba(248,248,248,1.00);
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .safetyplan .Rectangle1957 {
	position: absolute;
	left: 0px;
	top: 380.15999999999997px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .safetyplan .SafetyPlan {
	position: absolute;
	left: 111.36px;
	top: 418.56px;
	width: 284.15999999999997px;
	height: 65.28px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 55.68px;
	font-weight: 500;
	line-height: 65.25px;
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .SubstanceLog {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 506.88px;
	height: 549.12px;
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .SubstanceLog .Rectangle1940 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 506.88px;
	height: 384px;
	background: rgba(248,248,248,1.00);
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .SubstanceLog .Rectangle1941 {
	position: absolute;
	left: 0px;
	top: 384px;
	width: 506.88px;
	height: 165.12px;
	background: rgba(195,215,203,1.00);
}
.HomePagefirstversion_HomePagefirstversion .Othertabs .SubstanceLog .SubstanceLog_1 {
	position: absolute;
	left: 46.08px;
	top: 418.56px;
	width: 410.88px;
	height: 72.96px;
	color: rgba(50,50,50,1.00);
	font-family: Roboto;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.HomePagefirstversion_HomePagefirstversion .notifications {
	position: absolute;
	left: 122.88px;
	top: 38.4px;
	width: 1208.7px;
	height: 80.64px;
}
.HomePagefirstversion_HomePagefirstversion .notifications .wifi {
	position: absolute;
	left: 1049.3925px;
	top: 3.84px;
	width: 6.102010424422934%;
	height: 91.46205357142857%;
	background: rgba(0,0,0,0.00);
}
.HomePagefirstversion_HomePagefirstversion .notifications .wifi .Vector {
	position: absolute;
	left: 0px;
	top: 11.0625px;
	width: 100%;
	height: 70.00203376042302%;
}
.HomePagefirstversion_HomePagefirstversion .notifications .signal {
	position: absolute;
	left: 963.8399999999999px;
	top: 7.68px;
	width: 5.857532886572351%;
	height: 80.48735119047619%;
	background: rgba(0,0,0,0.00);
}
.HomePagefirstversion_HomePagefirstversion .notifications .signal .Vector_1 {
	position: absolute;
	left: 2.655px;
	top: 6.4875px;
	width: 92.5%;
	height: 79.99768892997457%;
}
.HomePagefirstversion_HomePagefirstversion .notifications .batteryfull {
	position: absolute;
	left: 1137.8925px;
	top: 3.84px;
	width: 5.857532886572351%;
	height: 91.46205357142857%;
	background: rgba(0,0,0,0.00);
}
.HomePagefirstversion_HomePagefirstversion .notifications .batteryfull .Vector_2 {
	position: absolute;
	left: 0px;
	top: 18.435px;
	width: 100%;
	height: 50%;
}
.HomePagefirstversion_HomePagefirstversion .notifications ._1111 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 8.260114172251178%;
	height: 100%;
	color: rgba(155,191,170,1.00);
	font-family: Poppins;
	font-size: 53.76px;
	font-weight: 700;
	line-height: 80.64px;
}