
.OtherSafetyPlan_OtherSafetyPlan {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(155,191,170,1.00);
	mix-blend-mode: normal;
}
.OtherSafetyPlan_OtherSafetyPlan .Rectangle780 {
	position: absolute;
	left: 1244.5px;
	top: 0px;
	width: 191.89999999999998px;
	height: 171px;
	object-fit: cover;
	overflow: hidden;
}
.OtherSafetyPlan_OtherSafetyPlan .HomeBar {
	position: absolute;
	left: 556.6999999999999px;
	top: 833.15px;
	width: 323px;
	height: 99.75px;
}
.OtherSafetyPlan_OtherSafetyPlan .HomeBar .Group47393 {
	position: absolute;
	left: 122.55px;
	top: 0px;
	width: 77.89999999999999px;
	height: 77.89999999999999px;
	border-radius: 53.199999999999996px;
}
.OtherSafetyPlan_OtherSafetyPlan .HomeBar .Group47393 .background {
	position: absolute;
	left: 47.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 77.89999999999999px;
	height: 77.89999999999999px;
	background: rgba(255,255,255,1.00);
	border-radius: 53.199999999999996px;
}
.OtherSafetyPlan_OtherSafetyPlan .HomeBar .Group47393 .background_1 {
	position: absolute;
	left: 47.50113138338414%;
	bottom: 5.335400390625px;
	transform: translate(-50%, 0);
	width: 67.22919921875px;
	height: 67.22919921875px;
	background: rgba(255,221,100,1.00);
	border-radius: 53.199999999999996px;
}
.OtherSafetyPlan_OtherSafetyPlan .HomeBar .ButtonHome {
	position: absolute;
	left: 146.29999999999998px;
	top: 19.95px;
	width: 30.4px;
	height: 32.3px;
}
.OtherSafetyPlan_OtherSafetyPlan .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30.4px;
	height: 32.3px;
}
.OtherSafetyPlan_OtherSafetyPlan .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 2.8499999999999996px;
	top: 2.375px;
	width: 30.4px;
	height: 30.4px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 {
	position: absolute;
	left: 54.15px;
	top: 195.7px;
	width: 1356.6px;
	height: 588.05px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Rectangle1967 {
	position: absolute;
	left: 466.45px;
	top: 68.39999999999999px;
	width: 395.2px;
	height: 519.65px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Rectangle1969 {
	position: absolute;
	left: 0px;
	top: 68.39999999999999px;
	width: 395.2px;
	height: 519.65px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Rectangle1968 {
	position: absolute;
	left: 932.9px;
	top: 68.39999999999999px;
	width: 395.2px;
	height: 519.65px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame15 {
	position: absolute;
	left: 466.45px;
	top: 0px;
	width: 395.2px;
	height: 43.699999999999996px;
	display: flex;
	padding-top: 5.699999999999999px;
	padding-right: 42.75px;
	padding-bottom: 5.699999999999999px;
	padding-left: 42.75px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 40.85px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame15 .Thoughts {
	position: relative;
	flex: none;
	margin-right: 3.8px;
	width: 307.8px;
	height: 22.799999999999997px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 22.799999999999997px;
	font-weight: 700;
	line-height: 22.799999999999997px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame15_1 {
	position: absolute;
	left: 932.9px;
	top: 0px;
	width: 395.2px;
	height: 43.699999999999996px;
	display: flex;
	padding-top: 5.699999999999999px;
	padding-right: 42.75px;
	padding-bottom: 5.699999999999999px;
	padding-left: 42.75px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 40.85px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame15_1 .Feelings {
	position: relative;
	flex: none;
	margin-right: 3.8px;
	width: 333.45px;
	height: 25.65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 19px;
	font-weight: 700;
	line-height: 22.799999999999997px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame15_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 395.2px;
	height: 43.699999999999996px;
	display: flex;
	padding-top: 5.699999999999999px;
	padding-right: 42.75px;
	padding-bottom: 5.699999999999999px;
	padding-left: 42.75px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 40.85px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame15_2 .Step1WarningSigns {
	position: relative;
	flex: none;
	margin-right: 3.8px;
	width: 314.45px;
	height: 22.799999999999997px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 22.799999999999997px;
	font-weight: 700;
	line-height: 22.799999999999997px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Rectangle1970 {
	position: absolute;
	left: 1865.8px;
	top: 68.39999999999999px;
	width: 395.2px;
	height: 519.65px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Rectangle1971 {
	position: absolute;
	left: 1399.35px;
	top: 68.39999999999999px;
	width: 395.2px;
	height: 519.65px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Rectangle1972 {
	position: absolute;
	left: 2332.25px;
	top: 68.39999999999999px;
	width: 395.2px;
	height: 519.65px;
	background: rgba(255,255,255,1.00);
	border-radius: 19px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame16 {
	position: absolute;
	left: 1865.8px;
	top: 0px;
	width: 395.2px;
	height: 43.699999999999996px;
	display: flex;
	padding-top: 5.699999999999999px;
	padding-right: 42.75px;
	padding-bottom: 4.75px;
	padding-left: 4.75px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 40.85px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame16 .Thoughts_1 {
	position: relative;
	flex: none;
	margin-right: 3.8px;
	width: 381.9px;
	height: 22.799999999999997px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 16.15px;
	font-weight: 700;
	line-height: 22.799999999999997px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame17 {
	position: absolute;
	left: 2332.25px;
	top: 0px;
	width: 395.2px;
	height: 43.699999999999996px;
	display: flex;
	padding-top: 5.699999999999999px;
	padding-right: 42.75px;
	padding-bottom: 5.699999999999999px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 40.85px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame17 .Feelings_1 {
	position: relative;
	flex: none;
	margin-right: 3.8px;
	width: 395.2px;
	height: 22.799999999999997px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 19px;
	font-weight: 700;
	line-height: 22.799999999999997px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame18 {
	position: absolute;
	left: 1399.35px;
	top: 0px;
	width: 395.2px;
	height: 43.699999999999996px;
	display: flex;
	padding-top: 5.699999999999999px;
	padding-right: 42.75px;
	padding-bottom: 5.699999999999999px;
	padding-left: 42.75px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 40.85px;
}
.OtherSafetyPlan_OtherSafetyPlan .Frame20 .Frame18 .Step4PeopleICanAskForHelp {
	position: relative;
	flex: none;
	margin-right: 3.8px;
	width: 310.65px;
	height: 22.799999999999997px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 19px;
	font-weight: 700;
	line-height: 22.799999999999997px;
}
.OtherSafetyPlan_OtherSafetyPlan .Arrow1 {
	position: absolute;
	left: 1389.375px;
	top: 503.5px;
	width: 40.375px;
	height: 0px;
}