
.Property1TableHeaderRow_Property1TableHeaderRow {
	width: 993px;
	height: 49px;
	display: flex;
	box-sizing: border-box;
	border: 1px solid rgba(184.87500607967377,184.87500607967377,184.87500607967377,1);
	box-sizing: border-box;
}