
.ResourcesSafetyPlan_ResourcesSafetyPlan {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	mix-blend-mode: normal;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .Rectangle780 {
	position: absolute;
	left: 960.12px;
	top: 114.3px;
	width: 461.01px;
	height: 449.58px;
	object-fit: cover;
	overflow: hidden;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .HomeBar {
	position: absolute;
	left: 72.39px;
	top: 2644.14px;
	width: 1295.4px;
	height: 400.05px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .HomeBar .Group47393 {
	position: absolute;
	left: 491.49px;
	top: 0px;
	width: 312.42px;
	height: 312.42px;
	border-radius: 213.36px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .HomeBar .Group47393 .background {
	position: absolute;
	left: 190.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 312.42px;
	height: 312.42px;
	background: rgba(255,255,255,1.00);
	border-radius: 213.36px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .HomeBar .Group47393 .background_1 {
	position: absolute;
	left: 190.50453744283539%;
	bottom: 21.39869384765625px;
	transform: translate(-50%, 0);
	width: 269.62447265625px;
	height: 269.6226123046875px;
	background: rgba(255,221,100,1.00);
	border-radius: 213.36px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .HomeBar .ButtonHome {
	position: absolute;
	left: 586.74px;
	top: 80.01px;
	width: 121.92px;
	height: 129.54px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 121.92px;
	height: 129.54px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 11.43px;
	top: 9.525px;
	width: 121.92px;
	height: 121.92px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns {
	position: absolute;
	left: 83.82000000000001px;
	top: 563.88px;
	width: 1253.49px;
	height: 2015.49px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns ._3columnnames {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1253.49px;
	height: 175.26px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns ._3columnnames .Frame14 {
	position: absolute;
	left: 3429px;
	top: 0px;
	width: 1226.82px;
	height: 175.26px;
	display: flex;
	padding-top: 22.86px;
	padding-right: 171.45px;
	padding-bottom: 22.86px;
	padding-left: 171.45px;
	box-sizing: border-box;
	background: rgba(255,221,100,1.00);
	border-radius: 163.83px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns ._3columnnames .Frame13 {
	position: absolute;
	left: 1714.5px;
	top: 0px;
	width: 1226.82px;
	height: 175.26px;
	display: flex;
	padding-top: 22.86px;
	padding-right: 171.45px;
	padding-bottom: 22.86px;
	padding-left: 171.45px;
	box-sizing: border-box;
	background: rgba(255,221,100,1.00);
	border-radius: 163.83px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns ._3columnnames .Frame12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1226.82px;
	height: 175.26px;
	display: flex;
	padding-top: 22.86px;
	padding-right: 171.45px;
	padding-bottom: 22.86px;
	padding-left: 171.45px;
	box-sizing: border-box;
	background: rgba(255,221,100,1.00);
	border-radius: 163.83px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns ._3columnnames .Frame12 .Feelings {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 883.92px;
	height: 144.78px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 83.82000000000001px;
	font-weight: 700;
	line-height: 91.44px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Textboxesforall3columns {
	position: absolute;
	left: 0px;
	top: 240.03px;
	width: 1253.49px;
	height: 1775.46px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Textboxesforall3columns .Rectangle1966 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1226.82px;
	height: 1767.84px;
	background: rgba(195,215,203,1.00);
	border-radius: 76.2px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Textboxesforall3columns .Writehere {
	position: absolute;
	left: 49.53px;
	top: 68.58px;
	width: 1116.33px;
	height: 1626.8700000000001px;
	color: rgba(255,255,255,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Textboxesforall3columns .Rectangle1967 {
	position: absolute;
	left: 1703.07px;
	top: 7.62px;
	width: 1226.82px;
	height: 1767.84px;
	background: rgba(195,215,203,1.00);
	border-radius: 76.2px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Textboxesforall3columns .Writehere_1 {
	position: absolute;
	left: 1752.6000000000001px;
	top: 76.2px;
	width: 1116.33px;
	height: 1626.8700000000001px;
	color: rgba(255,255,255,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Textboxesforall3columns .Rectangle1968 {
	position: absolute;
	left: 3417.57px;
	top: 7.62px;
	width: 1226.82px;
	height: 1767.84px;
	background: rgba(195,215,203,1.00);
	border-radius: 76.2px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Textboxesforall3columns .Writehere_2 {
	position: absolute;
	left: 3467.1px;
	top: 76.2px;
	width: 1116.33px;
	height: 1626.8700000000001px;
	color: rgba(255,255,255,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Feelings_1 {
	position: absolute;
	left: 3543.3px;
	top: -7.62px;
	width: 994.41px;
	height: 182.88px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 91.44px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Frame14_1 {
	position: absolute;
	left: 5284.47px;
	top: 0px;
	width: 1226.82px;
	height: 175.26px;
	display: flex;
	padding-top: 22.86px;
	padding-right: 171.45px;
	padding-bottom: 22.86px;
	padding-left: 171.45px;
	box-sizing: border-box;
	background: rgba(255,221,100,1.00);
	border-radius: 163.83px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Rectangle1968_1 {
	position: absolute;
	left: 5273.04px;
	top: 247.65px;
	width: 1226.82px;
	height: 1767.84px;
	background: rgba(195,215,203,1.00);
	border-radius: 76.2px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Writehere_3 {
	position: absolute;
	left: 5322.57px;
	top: 316.23px;
	width: 1116.33px;
	height: 1626.8700000000001px;
	color: rgba(255,255,255,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Feelings_2 {
	position: absolute;
	left: 5398.77px;
	top: -7.62px;
	width: 994.41px;
	height: 182.88px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 91.44px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Frame15 {
	position: absolute;
	left: 7258.05px;
	top: 7.62px;
	width: 1226.82px;
	height: 175.26px;
	display: flex;
	padding-top: 22.86px;
	padding-right: 171.45px;
	padding-bottom: 22.86px;
	padding-left: 171.45px;
	box-sizing: border-box;
	background: rgba(255,221,100,1.00);
	border-radius: 163.83px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Rectangle1969 {
	position: absolute;
	left: 7246.62px;
	top: 255.27px;
	width: 1226.82px;
	height: 1767.84px;
	background: rgba(195,215,203,1.00);
	border-radius: 76.2px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Writehere_4 {
	position: absolute;
	left: 7296.150000000001px;
	top: 323.85px;
	width: 1116.33px;
	height: 1626.8700000000001px;
	color: rgba(255,255,255,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Feelings_3 {
	position: absolute;
	left: 7372.35px;
	top: 0px;
	width: 994.41px;
	height: 182.88px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 91.44px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Frame16 {
	position: absolute;
	left: 9243.06px;
	top: 7.62px;
	width: 1226.82px;
	height: 175.26px;
	display: flex;
	padding-top: 22.86px;
	padding-right: 171.45px;
	padding-bottom: 22.86px;
	padding-left: 171.45px;
	box-sizing: border-box;
	background: rgba(255,221,100,1.00);
	border-radius: 163.83px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Rectangle1970 {
	position: absolute;
	left: 9231.630000000001px;
	top: 255.27px;
	width: 1226.82px;
	height: 1767.84px;
	background: rgba(195,215,203,1.00);
	border-radius: 76.2px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Writehere_5 {
	position: absolute;
	left: 9281.16px;
	top: 323.85px;
	width: 1116.33px;
	height: 1626.8700000000001px;
	color: rgba(255,255,255,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Feelings_4 {
	position: absolute;
	left: 9357.36px;
	top: 0px;
	width: 994.41px;
	height: 182.88px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 91.44px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan ._3columns .Feelings_5 {
	position: absolute;
	left: 1813.56px;
	top: 30.48px;
	width: 994.41px;
	height: 144.78px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 83.82000000000001px;
	font-weight: 700;
	line-height: 91.44px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .notifications {
	position: absolute;
	left: 114.3px;
	top: 34.29px;
	width: 1199.25703125px;
	height: 80.01px;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .notifications .wifi {
	position: absolute;
	left: 1041.19412109375px;
	top: 3.81px;
	width: 6.102010424422934%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .notifications .wifi .Vector {
	position: absolute;
	left: 0px;
	top: 10.97607421875px;
	width: 100%;
	height: 69.99872886742087%;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .notifications .signal {
	position: absolute;
	left: 956.3100000000001px;
	top: 7.62px;
	width: 5.857532886572351%;
	height: 80.48270089285714%;
	background: rgba(0,0,0,0.00);
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .notifications .signal .Vector_1 {
	position: absolute;
	left: 2.6342578125px;
	top: 6.440537109375px;
	width: 92.5%;
	height: 80.00231120355924%;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .notifications .batteryfull {
	position: absolute;
	left: 1129.00271484375px;
	top: 3.81px;
	width: 5.857532886572351%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .notifications .batteryfull .Vector_2 {
	position: absolute;
	left: 0px;
	top: 18.294697265625px;
	width: 100%;
	height: 49.99872886742087%;
}
.ResourcesSafetyPlan_ResourcesSafetyPlan .notifications ._1111 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 8.260114172251178%;
	height: 100%;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 53.34px;
	font-weight: 700;
	line-height: 80.01px;
}