
.Signup_2_Signup {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(114,191,122,1.00);
}
.Signup_2_Signup .notifications {
	position: absolute;
	left: 115.19999999999999px;
	top: 34.56px;
	width: 1208.7px;
	height: 80.64px;
}
.Signup_2_Signup .notifications .wifi {
	position: absolute;
	left: 1049.3925px;
	top: 3.84px;
	width: 6.102010424422934%;
	height: 91.45740327380952%;
	background: rgba(0,0,0,0.00);
}
.Signup_2_Signup .notifications .wifi .Vector {
	position: absolute;
	left: 0px;
	top: 11.0625px;
	width: 100%;
	height: 70.0005084659582%;
}
.Signup_2_Signup .notifications .signal {
	position: absolute;
	left: 963.8399999999999px;
	top: 7.68px;
	width: 5.857532886572351%;
	height: 80.48270089285714%;
	background: rgba(0,0,0,0.00);
}
.Signup_2_Signup .notifications .signal .Vector_1 {
	position: absolute;
	left: 2.655px;
	top: 6.49125px;
	width: 92.5%;
	height: 80.00231120355924%;
}
.Signup_2_Signup .notifications .batteryfull {
	position: absolute;
	left: 1137.8925px;
	top: 3.84px;
	width: 5.857532886572351%;
	height: 91.45740327380952%;
	background: rgba(0,0,0,0.00);
}
.Signup_2_Signup .notifications .batteryfull .Vector_2 {
	position: absolute;
	left: 0px;
	top: 18.43875px;
	width: 100%;
	height: 50.00254232979102%;
}
.Signup_2_Signup .notifications ._1111 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 8.260114172251178%;
	height: 100%;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 53.76px;
	font-weight: 700;
	line-height: 80.64px;
}
.Signup_2_Signup .Input {
	position: absolute;
	left: 84.47999999999999px;
	top: 1651.2px;
	width: 87.73333333333333%;
	height: 5.665024630541872%;
}
.Signup_2_Signup .Input .Rectangle2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1.00);
	border-radius: 30.72px;
}
.Signup_2_Signup .Input .Email {
	position: absolute;
	left: 38.4px;
	top: 42.239999999999995px;
	width: 11.854103343465045%;
	height: 43.47826086956522%;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 49.92px;
	font-weight: 200;
	line-height: 74.88px;
}
.Signup_2_Signup .Input_1 {
	position: absolute;
	left: 84.47999999999999px;
	top: 1877.76px;
	width: 87.73333333333333%;
	height: 5.665024630541872%;
}
.Signup_2_Signup .Input_1 .Rectangle2_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1.00);
	border-radius: 30.72px;
}
.Signup_2_Signup .Input_1 .Email_1 {
	position: absolute;
	left: 38.4px;
	top: 42.239999999999995px;
	width: 10.33434650455927%;
	height: 43.47826086956522%;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 49.92px;
	font-weight: 200;
	line-height: 74.88px;
}
.Signup_2_Signup .Input_2 {
	position: absolute;
	left: 88.32px;
	top: 2104.3199999999997px;
	width: 87.73333333333333%;
	height: 5.665024630541872%;
}
.Signup_2_Signup .Input_2 .Rectangle2_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1.00);
	border-radius: 30.72px;
}
.Signup_2_Signup .Input_2 .FullName {
	position: absolute;
	left: 38.4px;
	top: 42.239999999999995px;
	width: 18.541033434650455%;
	height: 43.47826086956522%;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 49.92px;
	font-weight: 200;
	line-height: 74.88px;
}
.Signup_2_Signup .IagreetotheYOSATermsandConditions {
	position: absolute;
	left: 322.56px;
	top: 2334.72px;
	width: 864px;
	height: 65.28px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 42.239999999999995px;
	font-weight: 200;
	line-height: 63.36px;
}
.Signup_2_Signup .checksquare {
	position: absolute;
	left: 222.72px;
	top: 2334.72px;
	width: 61.44px;
	height: 61.44px;
	background: rgba(0,0,0,0.00);
	border-radius: 26.88px;
}
.Signup_2_Signup .checksquare .Vector_3 {
	position: absolute;
	left: 3.84px;
	top: 3.84px;
	width: 87.5%;
	height: 87.5%;
}
.Signup_2_Signup .AlreadyhaveanaccountSignIn {
	position: absolute;
	left: 295.68px;
	top: 2764.7999999999997px;
	width: 852.48px;
	height: 69.12px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 46.08px;
	font-weight: 300;
	line-height: 69.12px;
}
.Signup_2_Signup .CreateAccount {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 725.76px;
	width: 1440px;
	height: 184.32px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 122.88px;
	font-weight: 700;
	line-height: 184.32px;
}
.Signup_2_Signup .Rectangle782 {
	position: absolute;
	left: 433.91999999999996px;
	top: 698.88px;
	width: 679.68px;
	height: 591.36px;
	object-fit: cover;
	overflow: hidden;
}
.Signup_2_Signup .ButtonExploreActive {
	position: absolute;
	left: 549.12px;
	top: 2515.2px;
	width: 345.59999999999997px;
	height: 138.24px;
	border-radius: 165.12px;
}
.Signup_2_Signup .ButtonExploreActive .Group7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 345.59999999999997px;
	height: 138.24px;
	border-radius: 165.12px;
}
.Signup_2_Signup .ButtonExploreActive .Group7 .Frame5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 345.59999999999997px;
	height: 138.24px;
	display: flex;
	padding-top: 23.04px;
	padding-right: 72.96px;
	padding-bottom: 23.04px;
	padding-left: 61.44px;
	box-sizing: border-box;
	background: rgba(255,235,163,1.00);
	border-radius: 165.12px;
}
.Signup_2_Signup .ButtonExploreActive .Group7 .Frame5 .SignUp {
	position: relative;
	flex: none;
	margin-right: 15.36px;
	width: 211.2px;
	height: 92.16px;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 61.44px;
	font-weight: 700;
	line-height: 92.16px;
}