
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(155,191,170,1.00);
	mix-blend-mode: normal;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20 {
	position: absolute;
	left: 384.75px;
	top: 371.45px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20 .Rectangle811 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20 .Rectangle812 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20 .WEDNESDAY {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20 ._8102022 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20 ._85hoursofsleep {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group22 {
	position: absolute;
	left: 1098.2px;
	top: 614.65px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group22 .Rectangle811_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group22 .Rectangle812_1 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group22 .WEDNESDAY_1 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group22 ._8102022_1 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group22 ._85hoursofsleep_1 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group27 {
	position: absolute;
	left: 624.15px;
	top: 614.65px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group27 .Rectangle811_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group27 .Rectangle812_2 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group27 .WEDNESDAY_2 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group27 ._8102022_2 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group27 ._85hoursofsleep_2 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group28 {
	position: absolute;
	left: 383.79999999999995px;
	top: 613.6999999999999px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group28 .Rectangle811_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group28 .Rectangle812_3 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group28 .WEDNESDAY_3 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group28 ._8102022_3 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group28 ._85hoursofsleep_3 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group29 {
	position: absolute;
	left: 148.2px;
	top: 613.6999999999999px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group29 .Rectangle811_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group29 .Rectangle812_4 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group29 .WEDNESDAY_4 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group29 ._8102022_4 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group29 ._85hoursofsleep_4 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group30 {
	position: absolute;
	left: 146.29999999999998px;
	top: 372.4px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group30 .Rectangle811_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group30 .Rectangle812_5 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group30 .WEDNESDAY_5 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group30 ._8102022_5 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group30 ._85hoursofsleep_5 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group23 {
	position: absolute;
	left: 1100.1px;
	top: 372.4px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group23 .Rectangle811_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group23 .Rectangle812_6 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group23 .WEDNESDAY_6 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group23 ._8102022_6 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group23 ._85hoursofsleep_6 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 {
	position: absolute;
	left: 383.79999999999995px;
	top: 129.2px;
	width: 904.4px;
	height: 190.95px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group20_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group20_1 .Rectangle811_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group20_1 .Rectangle812_7 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group20_1 .WEDNESDAY_7 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group20_1 ._8102022_7 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group20_1 ._85hoursofsleep_7 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group21 {
	position: absolute;
	left: 238.45px;
	top: 0.95px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group21 .Rectangle811_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group21 .Rectangle812_8 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group21 .WEDNESDAY_8 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group21 ._8102022_8 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group21 ._85hoursofsleep_8 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group22_1 {
	position: absolute;
	left: 476.9px;
	top: 0.95px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group22_1 .Rectangle811_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group22_1 .Rectangle812_9 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group22_1 .WEDNESDAY_9 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group22_1 ._8102022_9 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group22_1 ._85hoursofsleep_9 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group23_1 {
	position: absolute;
	left: 714.4px;
	top: 0.95px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group23_1 .Rectangle811_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group23_1 .Rectangle812_10 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group23_1 .WEDNESDAY_10 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group23_1 ._8102022_10 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group24 .Group23_1 ._85hoursofsleep_10 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 {
	position: absolute;
	left: 623.1999999999999px;
	top: 371.45px;
	width: 429.4px;
	height: 433.2px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group20_2 {
	position: absolute;
	left: 239.39999999999998px;
	top: 243.2px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group20_2 .Rectangle811_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group20_2 .Rectangle812_11 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group20_2 .WEDNESDAY_11 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group20_2 ._8102022_11 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group20_2 ._85hoursofsleep_11 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group21_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group21_1 .Rectangle811_12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group21_1 .Rectangle812_12 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group21_1 .WEDNESDAY_12 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group21_1 ._8102022_12 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group21_1 ._85hoursofsleep_12 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group22_2 {
	position: absolute;
	left: 237.5px;
	top: 0.95px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group22_2 .Rectangle811_13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group22_2 .Rectangle812_13 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group22_2 .WEDNESDAY_13 {
	position: absolute;
	left: 43.3548828125px;
	top: 3.70166015625px;
	width: 104.56308593749999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group22_2 ._8102022_13 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group26 .Group22_2 ._85hoursofsleep_13 {
	position: absolute;
	left: 36.9794921875px;
	top: 32.078271484375px;
	width: 118.59042968749999px;
	height: 118.44199218749999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20_3 {
	position: absolute;
	left: 146.29999999999998px;
	top: 129.2px;
	width: 190px;
	height: 190px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20_3 .Rectangle777 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 190px;
	border-radius: 38px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20_3 .Rectangle777_1 {
	position: absolute;
	left: 21.67744140625px;
	top: 23.4419921875px;
	width: 147.91982421875px;
	height: 140.649169921875px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20_3 .MONDAY {
	position: absolute;
	left: 47.180859375px;
	top: 3.70166015625px;
	width: 95.63828124999999px;
	height: 24.674951171874998px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20_3 ._8152022 {
	position: absolute;
	left: 51.0068359375px;
	top: 166.5580078125px;
	width: 91.81230468749999px;
	height: 19.74033203125px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 11.399999999999999px;
	font-weight: 400;
	line-height: 14.306999492645263px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Group20_3 .noteiconvectorsignsymbolisolatedwhitebackgroundnotelogoconceptnoteiconvectorisolatedwhitebackground134169208removebgpreview2 {
	position: absolute;
	left: 51.0068359375px;
	top: 55.519335937499996px;
	width: 102.013671875px;
	height: 83.895947265625px;
	object-fit: cover;
	overflow: hidden;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .HomeBar {
	position: absolute;
	left: 559.55px;
	top: 833.15px;
	width: 323px;
	height: 99.75px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .HomeBar .Group47392 {
	position: absolute;
	left: 122.55px;
	top: 0px;
	width: 77.89999999999999px;
	height: 77.89999999999999px;
	border-radius: 53.199999999999996px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .HomeBar .Group47392 .background {
	position: absolute;
	left: 47.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 77.89999999999999px;
	height: 77.89999999999999px;
	background: rgba(255,255,255,1.00);
	border-radius: 53.199999999999996px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .HomeBar .Group47392 .background_1 {
	position: absolute;
	left: 47.50113138338414%;
	bottom: 5.335400390625px;
	transform: translate(-50%, 0);
	width: 67.22919921875px;
	height: 67.22919921875px;
	background: rgba(255,221,100,1.00);
	border-radius: 53.199999999999996px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .HomeBar .ButtonHome {
	position: absolute;
	left: 146.29999999999998px;
	top: 19.95px;
	width: 30.4px;
	height: 32.3px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30.4px;
	height: 32.3px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 2.8499999999999996px;
	top: 2.375px;
	width: 30.4px;
	height: 30.4px;
}
.SleepMeditationsleeptracker_1_SleepMeditationsleeptracker .Rectangle782 {
	position: absolute;
	left: 1240.7px;
	top: -10.45px;
	width: 166.25px;
	height: 139.65px;
	object-fit: cover;
	overflow: hidden;
}