
.SleepMeditationmeditation_SleepMeditationmeditation {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	mix-blend-mode: normal;
}
.SleepMeditationmeditation_SleepMeditationmeditation .notifications {
	position: absolute;
	left: 114.3px;
	top: 34.29px;
	width: 1199.25703125px;
	height: 80.01px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .notifications .wifi {
	position: absolute;
	left: 1041.19412109375px;
	top: 3.81px;
	width: 6.102010424422934%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.SleepMeditationmeditation_SleepMeditationmeditation .notifications .wifi .Vector {
	position: absolute;
	left: 0px;
	top: 10.97607421875px;
	width: 100%;
	height: 69.99872886742087%;
}
.SleepMeditationmeditation_SleepMeditationmeditation .notifications .signal {
	position: absolute;
	left: 956.3100000000001px;
	top: 7.62px;
	width: 5.857532886572351%;
	height: 80.48270089285714%;
	background: rgba(0,0,0,0.00);
}
.SleepMeditationmeditation_SleepMeditationmeditation .notifications .signal .Vector_1 {
	position: absolute;
	left: 2.6342578125px;
	top: 6.440537109375px;
	width: 92.5%;
	height: 80.00231120355924%;
}
.SleepMeditationmeditation_SleepMeditationmeditation .notifications .batteryfull {
	position: absolute;
	left: 1129.00271484375px;
	top: 3.81px;
	width: 5.857532886572351%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.SleepMeditationmeditation_SleepMeditationmeditation .notifications .batteryfull .Vector_2 {
	position: absolute;
	left: 0px;
	top: 18.294697265625px;
	width: 100%;
	height: 49.99872886742087%;
}
.SleepMeditationmeditation_SleepMeditationmeditation .notifications ._1111 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 8.260114172251178%;
	height: 100%;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 53.34px;
	font-weight: 700;
	line-height: 80.01px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle780 {
	position: absolute;
	left: 960.12px;
	top: 99.06px;
	width: 461.01px;
	height: 449.58px;
	object-fit: cover;
	overflow: hidden;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle777 {
	position: absolute;
	left: 87.63px;
	top: 548.64px;
	width: 567.69px;
	height: 586.74px;
	border-radius: 152.4px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle777_1 {
	position: absolute;
	left: 152.4px;
	top: 621.03px;
	width: 441.96px;
	height: 434.34000000000003px;
	background: rgba(238,238,238,1.00);
	border-radius: 38.1px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle783 {
	position: absolute;
	left: 87.63px;
	top: 1223.01px;
	width: 567.69px;
	height: 586.74px;
	border-radius: 152.4px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle784 {
	position: absolute;
	left: 152.4px;
	top: 1295.4px;
	width: 441.96px;
	height: 434.34000000000003px;
	background: rgba(238,238,238,1.00);
	border-radius: 38.1px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle785 {
	position: absolute;
	left: 784.86px;
	top: 1223.01px;
	width: 567.69px;
	height: 586.74px;
	border-radius: 152.4px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle786 {
	position: absolute;
	left: 849.63px;
	top: 1295.4px;
	width: 441.96px;
	height: 434.34000000000003px;
	background: rgba(238,238,238,1.00);
	border-radius: 38.1px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle797 {
	position: absolute;
	left: 784.86px;
	top: 548.64px;
	width: 567.69px;
	height: 586.74px;
	border-radius: 152.4px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle798 {
	position: absolute;
	left: 849.63px;
	top: 621.03px;
	width: 441.96px;
	height: 434.34000000000003px;
	background: rgba(238,238,238,1.00);
	border-radius: 38.1px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle809 {
	position: absolute;
	left: 87.63px;
	top: 1897.38px;
	width: 567.69px;
	height: 586.74px;
	border-radius: 152.4px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle810 {
	position: absolute;
	left: 144.78px;
	top: 1969.77px;
	width: 441.96px;
	height: 434.34000000000003px;
	background: rgba(238,238,238,1.00);
	border-radius: 38.1px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle811 {
	position: absolute;
	left: 784.86px;
	top: 1897.38px;
	width: 567.69px;
	height: 586.74px;
	border-radius: 152.4px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Rectangle812 {
	position: absolute;
	left: 849.63px;
	top: 1969.77px;
	width: 441.96px;
	height: 434.34000000000003px;
	background: rgba(238,238,238,1.00);
	border-radius: 38.1px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .HomeBar {
	position: absolute;
	left: 72.39px;
	top: 2644.14px;
	width: 1295.4px;
	height: 400.05px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .HomeBar .Group47404 {
	position: absolute;
	left: 491.49px;
	top: 0px;
	width: 312.42px;
	height: 312.42px;
	border-radius: 213.36px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .HomeBar .Group47404 .background {
	position: absolute;
	left: 190.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 312.42px;
	height: 312.42px;
	background: rgba(255,255,255,1.00);
	border-radius: 213.36px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .HomeBar .Group47404 .background_1 {
	position: absolute;
	left: 190.50453744283539%;
	bottom: 21.3996240234375px;
	transform: translate(-50%, 0);
	width: 269.62447265625px;
	height: 269.6226123046875px;
	background: rgba(255,221,100,1.00);
	border-radius: 213.36px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .HomeBar .ButtonHome {
	position: absolute;
	left: 586.74px;
	top: 80.01px;
	width: 121.92px;
	height: 129.54px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 121.92px;
	height: 129.54px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 11.43px;
	top: 9.525px;
	width: 121.92px;
	height: 121.92px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .HealingBodyScanForSleep {
	position: absolute;
	left: 144.78px;
	top: 701.04px;
	width: 441.96px;
	height: 270.51px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .MeditationforAnxietyandstress {
	position: absolute;
	left: 857.25px;
	top: 697.23px;
	width: 441.96px;
	height: 270.51px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Deepsleepmeditationforemergencies {
	position: absolute;
	left: 838.2px;
	top: 1310.64px;
	width: 461.01px;
	height: 381px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,17,17,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .Youareenoughsleepmeditation {
	position: absolute;
	left: 140.97px;
	top: 1299.21px;
	width: 464.82px;
	height: 400.05px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .ReleaseWorryMeditation {
	position: absolute;
	left: 144.78px;
	top: 2053.59px;
	width: 441.96px;
	height: 270.51px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.SleepMeditationmeditation_SleepMeditationmeditation .MeditationforForgiveness {
	position: absolute;
	left: 857.25px;
	top: 2053.59px;
	width: 441.96px;
	height: 270.51px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}