
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	mix-blend-mode: normal;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .notifications {
	position: absolute;
	left: 114.3px;
	top: 34.29px;
	width: 1199.25703125px;
	height: 80.01px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .notifications .wifi {
	position: absolute;
	left: 1041.19412109375px;
	top: 3.81px;
	width: 6.102010424422934%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .notifications .wifi .Vector {
	position: absolute;
	left: 0px;
	top: 10.97607421875px;
	width: 100%;
	height: 69.99872886742087%;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .notifications .signal {
	position: absolute;
	left: 956.3100000000001px;
	top: 7.62px;
	width: 5.857532886572351%;
	height: 80.48270089285714%;
	background: rgba(0,0,0,0.00);
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .notifications .signal .Vector_1 {
	position: absolute;
	left: 2.6342578125px;
	top: 6.440537109375px;
	width: 92.5%;
	height: 80.00231120355924%;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .notifications .batteryfull {
	position: absolute;
	left: 1129.00271484375px;
	top: 3.81px;
	width: 5.857532886572351%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .notifications .batteryfull .Vector_2 {
	position: absolute;
	left: 0px;
	top: 18.294697265625px;
	width: 100%;
	height: 49.99872886742087%;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .notifications ._1111 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 8.260114172251178%;
	height: 100%;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 53.34px;
	font-weight: 700;
	line-height: 80.01px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Retangle {
	position: absolute;
	left: 91.44px;
	top: 544.83px;
	width: 1257.7911328125px;
	height: 2015.49px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Retangle .Rectangle36 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1257.7911328125px;
	height: 2015.49px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Retangle .entrydate {
	position: absolute;
	left: 87.63px;
	top: 118.11px;
	width: 781.05px;
	height: 118.11px;
	color: rgba(17,17,17,1.00);
	font-family: Mulish;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 95.63100145339966px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Retangle .Rectangle37 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 38.40509765625px;
	height: 2015.49px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Retangle .Rectangle776 {
	position: absolute;
	left: 137.16px;
	top: 316.23px;
	width: 998.22px;
	height: 1604.01px;
	background: rgba(238,238,238,1.00);
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Retangle .Whattimedidyougotosleep {
	position: absolute;
	left: 220.98px;
	top: 430.53000000000003px;
	width: 822.96px;
	height: 160.02px;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 57.15px;
	font-weight: 700;
	line-height: 71.72325290679932px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Retangle .Couldtypehereordropdownoftimes {
	position: absolute;
	left: 217.17000000000002px;
	top: 636.27px;
	width: 822.96px;
	height: 160.02px;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 57.15px;
	font-weight: 400;
	line-height: 71.72325290679932px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Retangle .Couldtypehereordropdownoftimes_1 {
	position: absolute;
	left: 217.17000000000002px;
	top: 960.12px;
	width: 822.96px;
	height: 160.02px;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 57.15px;
	font-weight: 400;
	line-height: 71.72325290679932px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Retangle .Automaticallycalculatebasedonwhatuserputsinabove {
	position: absolute;
	left: 232.41px;
	top: 1417.32px;
	width: 822.96px;
	height: 160.02px;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 57.15px;
	font-weight: 400;
	line-height: 71.72325290679932px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Retangle .Whattimedidyouwakeup {
	position: absolute;
	left: 217.17000000000002px;
	top: 842.01px;
	width: 822.96px;
	height: 160.02px;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 57.15px;
	font-weight: 700;
	line-height: 71.72325290679932px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Rectangle780 {
	position: absolute;
	left: 960.12px;
	top: 114.3px;
	width: 461.01px;
	height: 449.58px;
	object-fit: cover;
	overflow: hidden;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .Totalhoursofsleep {
	position: absolute;
	left: 323.85px;
	top: 1805.94px;
	width: 788.67px;
	height: 129.54px;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 57.15px;
	font-weight: 700;
	line-height: 71.72325290679932px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .ButtonExploreActive {
	position: absolute;
	left: 1104.9px;
	top: 2396.4900000000002px;
	width: 240.03px;
	height: 137.16px;
	border-radius: 163.83px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .ButtonExploreActive .Group7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 240.03px;
	height: 137.16px;
	border-radius: 163.83px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .ButtonExploreActive .Group7 .Frame5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 240.03px;
	height: 137.16px;
	display: flex;
	padding-top: 22.86px;
	padding-right: 72.39px;
	padding-bottom: 22.86px;
	padding-left: 60.96px;
	box-sizing: border-box;
	background: rgba(255,221,100,1.00);
	border-radius: 163.83px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .ButtonExploreActive .Group7 .Frame5 .Back {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 106.68px;
	height: 91.44px;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 49.53px;
	font-weight: 500;
	line-height: 91.44px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .HomeBar {
	position: absolute;
	left: 72.39px;
	top: 2647.95px;
	width: 1295.4px;
	height: 400.05px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .HomeBar .Group47402 {
	position: absolute;
	left: 491.49px;
	top: 0px;
	width: 312.42px;
	height: 312.42px;
	border-radius: 213.36px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .HomeBar .Group47402 .background {
	position: absolute;
	left: 190.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 312.42px;
	height: 312.42px;
	background: rgba(255,255,255,1.00);
	border-radius: 213.36px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .HomeBar .Group47402 .background_1 {
	position: absolute;
	left: 190.50453744283539%;
	bottom: 21.3996240234375px;
	transform: translate(-50%, 0);
	width: 269.62447265625px;
	height: 269.6226123046875px;
	background: rgba(255,221,100,1.00);
	border-radius: 213.36px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .HomeBar .ButtonHome {
	position: absolute;
	left: 586.74px;
	top: 80.01px;
	width: 121.92px;
	height: 129.54px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 121.92px;
	height: 129.54px;
}
.SleepMeditationsleeptrackerentry_SleepMeditationsleeptrackerentry .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 11.43px;
	top: 9.525px;
	width: 121.92px;
	height: 121.92px;
}