
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(155,191,170,1.00);
	mix-blend-mode: normal;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle {
	position: absolute;
	left: 146.29999999999998px;
	top: 131.1px;
	width: 1090.6px;
	height: 682.1px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle .Rectangle36 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1090.6px;
	height: 682.1px;
	border-radius: 9.5px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle .entrydate {
	position: absolute;
	left: 75.9814453125px;
	top: 39.97236328125px;
	width: 571.5159179687499px;
	height: 39.97236328125px;
	color: rgba(17,17,17,1.00);
	font-family: Mulish;
	font-size: 24.7px;
	font-weight: 700;
	line-height: 30.998501014709472px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle ._1pm3pm {
	position: absolute;
	left: 839.8px;
	top: 54.15px;
	width: 114.94999999999999px;
	height: 60.8px;
	color: rgba(181,184,204,1.00);
	font-family: Mulish;
	font-size: 19px;
	font-weight: 700;
	line-height: 23.845000362396238px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle .Rectangle37 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 33.300097656249996px;
	height: 682.1px;
	border-radius: 2.8499999999999996px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle .ButtonExploreActive {
	position: absolute;
	left: 75.98330078125px;
	top: 86.390625px;
	width: 115.89999999999999px;
	height: 34.199999999999996px;
	border-radius: 9.5px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle .ButtonExploreActive .Group7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 115.89999999999999px;
	height: 34.199999999999996px;
	border-radius: 9.5px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle .ButtonExploreActive .Group7 .Frame5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 115.89999999999999px;
	height: 34.199999999999996px;
	display: flex;
	padding-top: 5.699999999999999px;
	padding-right: 18.05px;
	padding-bottom: 5.699999999999999px;
	padding-left: 15.2px;
	box-sizing: border-box;
	background: rgba(255,221,100,1.00);
	border-radius: 9.5px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle .ButtonExploreActive .Group7 .Frame5 .Prompted {
	position: relative;
	flex: none;
	margin-right: 3.8px;
	width: 82.64999999999999px;
	height: 22.799999999999997px;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 19px;
	font-weight: 500;
	line-height: 22.799999999999997px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle .Rectangle776 {
	position: absolute;
	left: 145.35px;
	top: 230.85px;
	width: 809.4px;
	height: 393.29999999999995px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Retangle .Typehere {
	position: absolute;
	left: 186.2px;
	top: 256.5px;
	width: 722px;
	height: 379.04999999999995px;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 17.099999999999998px;
	font-weight: 400;
	line-height: 21.460500144958495px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .DontapromptClickHere {
	position: absolute;
	left: 362.9px;
	top: 228.95px;
	width: 202.35px;
	height: 22.799999999999997px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 15.2px;
	font-weight: 200;
	line-height: 22.799999999999997px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .HomeBar {
	position: absolute;
	left: 527.25px;
	top: 833.15px;
	width: 323px;
	height: 99.75px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .HomeBar .Group47393 {
	position: absolute;
	left: 122.55px;
	top: 0px;
	width: 77.89999999999999px;
	height: 77.89999999999999px;
	border-radius: 53.199999999999996px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .HomeBar .Group47393 .background {
	position: absolute;
	left: 47.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 77.89999999999999px;
	height: 77.89999999999999px;
	background: rgba(255,255,255,1.00);
	border-radius: 53.199999999999996px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .HomeBar .Group47393 .background_1 {
	position: absolute;
	left: 47.50113138338414%;
	bottom: 5.33447265625px;
	transform: translate(-50%, 0);
	width: 67.22919921875px;
	height: 67.22919921875px;
	background: rgba(255,221,100,1.00);
	border-radius: 53.199999999999996px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .HomeBar .ButtonHome {
	position: absolute;
	left: 146.29999999999998px;
	top: 19.95px;
	width: 30.4px;
	height: 32.3px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30.4px;
	height: 32.3px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 2.8499999999999996px;
	top: 2.375px;
	width: 30.4px;
	height: 30.4px;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .Rectangle782 {
	position: absolute;
	left: 1244.5px;
	top: 0px;
	width: 191.89999999999998px;
	height: 171px;
	object-fit: cover;
	overflow: hidden;
}
.ThoughtsandEmotionsNewjournalentry_1_ThoughtsandEmotionsNewjournalentry .journalprompt {
	position: absolute;
	left: 294.5px;
	top: 285px;
	width: 794.1999999999999px;
	height: 64.6px;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 22.799999999999997px;
	font-weight: 400;
	line-height: 28.613998985290525px;
}