
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	mix-blend-mode: normal;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar {
	position: absolute;
	left: 607.95px;
	top: 1055.25px;
	width: 214.2px;
	height: 66.15px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .Group47393 {
	position: absolute;
	left: 81.27px;
	top: 0px;
	width: 51.660000000000004px;
	height: 51.660000000000004px;
	border-radius: 35.28px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .Group47393 .background {
	position: absolute;
	left: 31.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 51.660000000000004px;
	height: 51.660000000000004px;
	background: rgba(255,255,255,1.00);
	border-radius: 35.28px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .Group47393 .background_1 {
	position: absolute;
	left: 31.499812428544207%;
	bottom: 3.53759765625px;
	transform: translate(-50%, 0);
	width: 44.5832666015625px;
	height: 44.58357421875px;
	background: rgba(255,221,100,1.00);
	border-radius: 35.28px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .ButtonHome {
	position: absolute;
	left: 97.02px;
	top: 13.23px;
	width: 20.16px;
	height: 21.42px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20.16px;
	height: 21.42px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 1.8900000000000001px;
	top: 1.575px;
	width: 20.16px;
	height: 20.16px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord ._7columntr {
	position: absolute;
	left: 0px;
	top: 93.24px;
	width: 217.35px;
	height: 943.11px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord ._7columntr .Rectangle1970 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1374.66px;
	height: 943.11px;
	object-fit: cover;
	overflow: hidden;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .ButtonExploreActive {
	position: absolute;
	left: 70.56px;
	top: 56.07px;
	width: 56.07px;
	height: 22.68px;
	border-radius: 27.09px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .ButtonExploreActive .Group7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 56.07px;
	height: 22.68px;
	border-radius: 27.09px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .ButtonExploreActive .Group7 .Frame5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 56.07px;
	height: 22.68px;
	display: flex;
	padding-top: 3.7800000000000002px;
	padding-right: 11.97px;
	padding-bottom: 3.7800000000000002px;
	padding-left: 10.08px;
	box-sizing: border-box;
	background: rgba(255,221,100,1.00);
	border-radius: 27.09px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .ButtonExploreActive .Group7 .Frame5 .Back {
	position: relative;
	flex: none;
	margin-right: 2.52px;
	width: 28.35px;
	height: 15.120000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 8.82px;
	font-weight: 500;
	line-height: 15.120000000000001px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_1_ThoughtsandEmotions7ColumnThoughtRecord .Rectangle780 {
	position: absolute;
	left: 1302.84px;
	top: -9.45px;
	width: 127.26px;
	height: 113.4px;
	object-fit: cover;
	overflow: hidden;
}