
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	mix-blend-mode: normal;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .Rectangle780 {
	position: absolute;
	left: 960.12px;
	top: 114.3px;
	width: 461.01px;
	height: 449.58px;
	object-fit: cover;
	overflow: hidden;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar {
	position: absolute;
	left: 72.39px;
	top: 6309.36px;
	width: 1295.4px;
	height: 400.05px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .Group47393 {
	position: absolute;
	left: 491.49px;
	top: 0px;
	width: 312.42px;
	height: 312.42px;
	border-radius: 213.36px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .Group47393 .background {
	position: absolute;
	left: 190.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 312.42px;
	height: 312.42px;
	background: rgba(255,255,255,1.00);
	border-radius: 213.36px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .Group47393 .background_1 {
	position: absolute;
	left: 190.50453744283539%;
	bottom: 21.3996240234375px;
	transform: translate(-50%, 0);
	width: 269.62447265625px;
	height: 269.6226123046875px;
	background: rgba(255,221,100,1.00);
	border-radius: 213.36px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .ButtonHome {
	position: absolute;
	left: 586.74px;
	top: 80.01px;
	width: 121.92px;
	height: 129.54px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 121.92px;
	height: 129.54px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 11.43px;
	top: 9.525px;
	width: 121.92px;
	height: 121.92px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord ._7columntr {
	position: absolute;
	left: 0px;
	top: 563.88px;
	width: 1314.45px;
	height: 5703.57px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord ._7columntr .Rectangle1970 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 8313.42px;
	height: 5703.57px;
	object-fit: cover;
	overflow: hidden;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .ButtonExploreActive {
	position: absolute;
	left: 41.910000000000004px;
	top: 331.47px;
	width: 240.03px;
	height: 137.16px;
	border-radius: 163.83px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .ButtonExploreActive .Group7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 240.03px;
	height: 137.16px;
	border-radius: 163.83px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .ButtonExploreActive .Group7 .Frame5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 240.03px;
	height: 137.16px;
	display: flex;
	padding-top: 22.86px;
	padding-right: 72.39px;
	padding-bottom: 22.86px;
	padding-left: 60.96px;
	box-sizing: border-box;
	background: rgba(255,221,100,1.00);
	border-radius: 163.83px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .ButtonExploreActive .Group7 .Frame5 .Back {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 106.68px;
	height: 91.44px;
	color: rgba(0,0,0,1.00);
	font-family: Lato;
	font-size: 49.53px;
	font-weight: 500;
	line-height: 91.44px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .notifications {
	position: absolute;
	left: 114.3px;
	top: 34.29px;
	width: 1199.25703125px;
	height: 80.01px;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .notifications .wifi {
	position: absolute;
	left: 1041.19412109375px;
	top: 3.81px;
	width: 6.102010424422934%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .notifications .wifi .Vector {
	position: absolute;
	left: 0px;
	top: 10.97607421875px;
	width: 100%;
	height: 69.99872886742087%;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .notifications .signal {
	position: absolute;
	left: 956.3100000000001px;
	top: 7.62px;
	width: 5.857532886572351%;
	height: 80.48270089285714%;
	background: rgba(0,0,0,0.00);
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .notifications .signal .Vector_1 {
	position: absolute;
	left: 2.6342578125px;
	top: 6.440537109375px;
	width: 92.5%;
	height: 80.00231120355924%;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .notifications .batteryfull {
	position: absolute;
	left: 1129.00271484375px;
	top: 3.81px;
	width: 5.857532886572351%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .notifications .batteryfull .Vector_2 {
	position: absolute;
	left: 0px;
	top: 18.294697265625px;
	width: 100%;
	height: 49.99872886742087%;
}
.ThoughtsandEmotions7ColumnThoughtRecord_ThoughtsandEmotions7ColumnThoughtRecord .notifications ._1111 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 8.260114172251178%;
	height: 100%;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 53.34px;
	font-weight: 700;
	line-height: 80.01px;
}