
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	mix-blend-mode: normal;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .Rectangle780 {
	position: absolute;
	left: 960.12px;
	top: 114.3px;
	width: 461.01px;
	height: 449.58px;
	object-fit: cover;
	overflow: hidden;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .HomeBar {
	position: absolute;
	left: 72.39px;
	top: 5341.62px;
	width: 1295.4px;
	height: 400.05px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .HomeBar .Group47393 {
	position: absolute;
	left: 491.49px;
	top: 0px;
	width: 312.42px;
	height: 312.42px;
	border-radius: 213.36px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .HomeBar .Group47393 .background {
	position: absolute;
	left: 190.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 312.42px;
	height: 312.42px;
	background: rgba(255,255,255,1.00);
	border-radius: 213.36px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .HomeBar .Group47393 .background_1 {
	position: absolute;
	left: 190.50453744283539%;
	bottom: 21.3996240234375px;
	transform: translate(-50%, 0);
	width: 269.62447265625px;
	height: 269.6226123046875px;
	background: rgba(255,221,100,1.00);
	border-radius: 213.36px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .HomeBar .ButtonHome {
	position: absolute;
	left: 586.74px;
	top: 80.01px;
	width: 121.92px;
	height: 129.54px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 121.92px;
	height: 129.54px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 11.43px;
	top: 9.525px;
	width: 121.92px;
	height: 121.92px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts ._3ColumnThoughtRecordClickHere {
	position: absolute;
	left: 217.17000000000002px;
	top: 514.35px;
	width: 986.79px;
	height: 480.06px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(50,50,50,1.00);
	font-family: Mulish;
	font-size: 121.92px;
	font-weight: 700;
	line-height: 153.00959941864014px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts ._7ColumnThoughtRecordClickHere {
	position: absolute;
	left: 224.79px;
	top: 1150.6200000000001px;
	width: 986.79px;
	height: 480.06px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(50,50,50,1.00);
	font-family: Mulish;
	font-size: 121.92px;
	font-weight: 700;
	line-height: 153.00959941864014px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .CommonUnhealthyThoughtPatternsClickHere {
	position: absolute;
	left: 156.21px;
	top: 1786.89px;
	width: 1139.19px;
	height: 495.3px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(50,50,50,1.00);
	font-family: Mulish;
	font-size: 121.92px;
	font-weight: 700;
	line-height: 153.00959941864014px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .EmotionRegulationClickHere {
	position: absolute;
	left: 175.26px;
	top: 2438.4px;
	width: 1074.42px;
	height: 594.36px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(50,50,50,1.00);
	font-family: Mulish;
	font-size: 121.92px;
	font-weight: 700;
	line-height: 153.00959941864014px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .CognitiveConceptualizationClickHere {
	position: absolute;
	left: 182.88px;
	top: 3032.76px;
	width: 1074.42px;
	height: 506.73px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(50,50,50,1.00);
	font-family: Mulish;
	font-size: 121.92px;
	font-weight: 700;
	line-height: 153.00959941864014px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .FillDrainMyBucketListClickHere {
	position: absolute;
	left: 175.26px;
	top: 3695.7000000000003px;
	width: 1074.42px;
	height: 506.73px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(50,50,50,1.00);
	font-family: Mulish;
	font-size: 121.92px;
	font-weight: 700;
	line-height: 153.00959941864014px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .notifications {
	position: absolute;
	left: 114.3px;
	top: 34.29px;
	width: 1199.25703125px;
	height: 80.01px;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .notifications .wifi {
	position: absolute;
	left: 1041.19412109375px;
	top: 3.81px;
	width: 6.102010424422934%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .notifications .wifi .Vector {
	position: absolute;
	left: 0px;
	top: 10.97607421875px;
	width: 100%;
	height: 69.99872886742087%;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .notifications .signal {
	position: absolute;
	left: 956.3100000000001px;
	top: 7.62px;
	width: 5.857532886572351%;
	height: 80.48270089285714%;
	background: rgba(0,0,0,0.00);
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .notifications .signal .Vector_1 {
	position: absolute;
	left: 2.6342578125px;
	top: 6.440537109375px;
	width: 92.5%;
	height: 80.00231120355924%;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .notifications .batteryfull {
	position: absolute;
	left: 1129.00271484375px;
	top: 3.81px;
	width: 5.857532886572351%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .notifications .batteryfull .Vector_2 {
	position: absolute;
	left: 0px;
	top: 18.294697265625px;
	width: 100%;
	height: 49.99872886742087%;
}
.ThoughtsandEmotionsCBTFillouts_ThoughtsandEmotionsCBTFillouts .notifications ._1111 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 8.260114172251178%;
	height: 100%;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 53.34px;
	font-weight: 700;
	line-height: 80.01px;
}