
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	mix-blend-mode: normal;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .notifications {
	position: absolute;
	left: 114.3px;
	top: 34.29px;
	width: 1199.2533105468751px;
	height: 80.01px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .notifications .wifi {
	position: absolute;
	left: 1041.19412109375px;
	top: 3.81px;
	width: 6.101719104365551%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .notifications .wifi .Vector {
	position: absolute;
	left: 0px;
	top: 10.97607421875px;
	width: 100%;
	height: 69.99872886742087%;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .notifications .signal {
	position: absolute;
	left: 956.3100000000001px;
	top: 7.62px;
	width: 5.857861311309604%;
	height: 80.48270089285714%;
	background: rgba(0,0,0,0.00);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .notifications .signal .Vector_1 {
	position: absolute;
	left: 2.6342578125px;
	top: 6.440537109375px;
	width: 92.50039722472326%;
	height: 80.00231120355924%;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .notifications .batteryfull {
	position: absolute;
	left: 1129.006435546875px;
	top: 3.81px;
	width: 5.857861311309604%;
	height: 91.45972842261905%;
	background: rgba(0,0,0,0.00);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .notifications .batteryfull .Vector_2 {
	position: absolute;
	left: 0px;
	top: 18.294697265625px;
	width: 100%;
	height: 49.99872886742087%;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .notifications ._1111 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 8.260139799391286%;
	height: 100%;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 53.34px;
	font-weight: 700;
	line-height: 80.01px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Rectangle780 {
	position: absolute;
	left: 960.12px;
	top: 114.3px;
	width: 461.01px;
	height: 449.58px;
	object-fit: cover;
	overflow: hidden;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .HomeBar {
	position: absolute;
	left: 72.39px;
	top: 2644.14px;
	width: 1295.4px;
	height: 400.05px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .HomeBar .Group47393 {
	position: absolute;
	left: 491.49px;
	top: 0px;
	width: 312.42px;
	height: 312.42px;
	border-radius: 213.36px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .HomeBar .Group47393 .background {
	position: absolute;
	left: 190.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 312.42px;
	height: 312.42px;
	background: rgba(255,255,255,1.00);
	border-radius: 213.36px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .HomeBar .Group47393 .background_1 {
	position: absolute;
	left: 190.5%;
	bottom: 21.3996240234375px;
	transform: translate(-50%, 0);
	width: 269.62447265625px;
	height: 269.6226123046875px;
	background: rgba(255,221,100,1.00);
	border-radius: 213.36px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .HomeBar .ButtonHome {
	position: absolute;
	left: 586.74px;
	top: 80.01px;
	width: 121.92px;
	height: 129.54px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 121.92px;
	height: 129.54px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 11.43px;
	top: 9.525px;
	width: 121.92px;
	height: 121.92px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 {
	position: absolute;
	left: 60.96px;
	top: 746.76px;
	width: 1165.8600000000001px;
	height: 1809.75px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 4514.85px;
	height: 1809.75px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	height: 213.36px;
	align-self: stretch;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 213.36px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell .TableHeaderCell {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 91.44px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 92.21931289672851px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 213.36px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell_1 .TableHeaderCell_1 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 91.44px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 92.21931289672851px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 213.36px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell_2 .TableHeaderCell_2 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 91.44px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 92.21931289672851px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 213.36px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell_3 .TableHeaderCell_3 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 91.44px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 92.21931289672851px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell_4 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 213.36px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell_4 .TableHeaderCell_4 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 91.44px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 76.2px;
	font-weight: 700;
	line-height: 92.21931289672851px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell_5 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 630.5550000000001px;
	height: 186.69px;
	border: 1px solid rgba(184.87500607967377,184.87500607967377,184.87500607967377,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow .TableCell_5 .TableHeaderCell_5 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 478.15500000000003px;
	height: 64.77px;
	color: rgba(116,116,123,1.00);
	font-family: Inter;
	font-size: 53.34px;
	font-weight: 700;
	line-height: 64.55352338790894px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	height: 194.31px;
	align-self: stretch;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_6 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_6 .TableCell_7 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_8 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_8 .TableCell_9 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_10 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_10 .TableCell_11 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_12 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_12 .TableCell_13 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_14 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_14 .TableCell_15 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_16 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 630.5550000000001px;
	height: 194.31px;
	border: 1px solid rgba(184.87500607967377,184.87500607967377,184.87500607967377,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_1 .TableCell_16 .TableCell_17 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 478.15500000000003px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	height: 194.31px;
	align-self: stretch;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_18 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_18 .TableCell_19 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_20 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_20 .TableCell_21 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_22 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_22 .TableCell_23 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_24 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_24 .TableCell_25 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_26 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_26 .TableCell_27 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_28 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 630.5550000000001px;
	height: 194.31px;
	border: 1px solid rgba(184.87500607967377,184.87500607967377,184.87500607967377,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_2 .TableCell_28 .TableCell_29 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 478.15500000000003px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	height: 194.31px;
	align-self: stretch;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_30 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_30 .TableCell_31 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_32 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_32 .TableCell_33 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_34 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_34 .TableCell_35 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_36 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_36 .TableCell_37 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_38 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_38 .TableCell_39 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_40 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 630.5550000000001px;
	height: 194.31px;
	border: 1px solid rgba(184.87500607967377,184.87500607967377,184.87500607967377,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_3 .TableCell_40 .TableCell_41 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 478.15500000000003px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	height: 194.31px;
	align-self: stretch;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_42 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_42 .TableCell_43 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_44 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_44 .TableCell_45 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_46 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_46 .TableCell_47 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_48 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_48 .TableCell_49 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_50 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_50 .TableCell_51 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_52 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 630.5550000000001px;
	height: 194.31px;
	border: 1px solid rgba(184.87500607967377,184.87500607967377,184.87500607967377,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_4 .TableCell_52 .TableCell_53 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 478.15500000000003px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	height: 194.31px;
	align-self: stretch;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_54 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_54 .TableCell_55 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_56 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_56 .TableCell_57 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_58 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_58 .TableCell_59 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_60 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_60 .TableCell_61 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_62 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_62 .TableCell_63 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_64 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 630.5550000000001px;
	height: 194.31px;
	border: 1px solid rgba(184.87500607967377,184.87500607967377,184.87500607967377,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_5 .TableCell_64 .TableCell_65 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 478.15500000000003px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	height: 194.31px;
	align-self: stretch;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_66 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_66 .TableCell_67 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_68 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_68 .TableCell_69 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_70 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_70 .TableCell_71 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_72 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_72 .TableCell_73 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_74 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_74 .TableCell_75 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_76 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 630.5550000000001px;
	height: 194.31px;
	border: 1px solid rgba(184.87500607967377,184.87500607967377,184.87500607967377,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_6 .TableCell_76 .TableCell_77 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 478.15500000000003px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	height: 194.31px;
	align-self: stretch;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_78 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_78 .TableCell_79 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_80 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_80 .TableCell_81 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_82 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_82 .TableCell_83 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_84 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_84 .TableCell_85 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_86 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_86 .TableCell_87 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_88 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 630.5550000000001px;
	height: 194.31px;
	border: 1px solid rgba(184.87500607967377,184.87500607967377,184.87500607967377,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_7 .TableCell_88 .TableCell_89 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 478.15500000000003px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	height: 194.31px;
	align-self: stretch;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_90 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_90 .TableCell_91 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_92 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_92 .TableCell_93 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_94 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_94 .TableCell_95 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_96 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_96 .TableCell_97 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_98 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 902.97px;
	height: 194.31px;
	border: 1px solid rgba(0,0,0,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_98 .TableCell_99 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 750.57px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_100 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 630.5550000000001px;
	height: 194.31px;
	border: 1px solid rgba(184.87500607967377,184.87500607967377,184.87500607967377,1);
}
.ThoughtsandEmotionsSymptomLog_ThoughtsandEmotionsSymptomLog .Frame17 .Table .TableRow_8 .TableCell_100 .TableCell_101 {
	position: relative;
	flex: none;
	margin-right: 15.24px;
	width: 478.15500000000003px;
	height: 72.39px;
	color: rgba(50,50,50,1.00);
	font-family: Inter;
	font-size: 60.96px;
	font-weight: 400;
	line-height: 73.77545322418213px;
}