
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(155,191,170,1.00);
	mix-blend-mode: normal;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs {
	position: absolute;
	left: 21.849999999999998px;
	top: 149.15px;
	width: 315.4px;
	height: 650.75px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group21 {
	position: absolute;
	left: 107.35px;
	top: 76px;
	width: 237.5px;
	height: 237.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group21 .Rectangle797 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 237.5px;
	height: 237.5px;
	border-radius: 38px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group21 .Rectangle798 {
	position: absolute;
	left: 27.097265625px;
	top: 29.3015625px;
	width: 184.89931640625px;
	height: 175.81123046874998px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group21 ._3ColumnThoughtRecord {
	position: absolute;
	left: 27.549999999999997px;
	top: 59.849999999999994px;
	width: 184.89931640625px;
	height: 144.9677734375px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 26.599999999999998px;
	font-weight: 700;
	line-height: 33.382999420166016px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group47405 {
	position: absolute;
	left: 1096.3px;
	top: 70.3px;
	width: 237.5px;
	height: 237.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group47405 .Rectangle815 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 237.5px;
	height: 237.5px;
	border-radius: 38px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group47405 .Rectangle816 {
	position: absolute;
	left: 27.097265625px;
	top: 29.3015625px;
	width: 184.89931640625px;
	height: 175.81123046874998px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group47405 .PreparingForTherapy {
	position: absolute;
	left: 37.05px;
	top: 73.14999999999999px;
	width: 165.29999999999998px;
	height: 110.19999999999999px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 26.599999999999998px;
	font-weight: 700;
	line-height: 33.382999420166016px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group23 {
	position: absolute;
	left: 106.39999999999999px;
	top: 385.7px;
	width: 237.5px;
	height: 237.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group23 .Rectangle783 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 237.5px;
	height: 237.5px;
	border-radius: 38px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group23 .Rectangle784 {
	position: absolute;
	left: 27.097265625px;
	top: 29.3015625px;
	width: 184.89931640625px;
	height: 175.81123046874998px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group23 .FillDrainMyBucket {
	position: absolute;
	left: 38px;
	top: 76.95px;
	width: 165.29999999999998px;
	height: 75.05px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 26.599999999999998px;
	font-weight: 700;
	line-height: 33.382999420166016px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group24 {
	position: absolute;
	left: 426.54999999999995px;
	top: 385.7px;
	width: 237.5px;
	height: 237.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group24 .Rectangle809 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 237.5px;
	height: 237.5px;
	border-radius: 38px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group24 .Rectangle810 {
	position: absolute;
	left: 23.909570312499998px;
	top: 29.3015625px;
	width: 184.89931640625px;
	height: 175.81123046874998px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group24 .SymptomLog {
	position: absolute;
	left: 34.199999999999996px;
	top: 76.95px;
	width: 169.1px;
	height: 79.8px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 26.599999999999998px;
	font-weight: 700;
	line-height: 33.382999420166016px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group25 {
	position: absolute;
	left: 751.4499999999999px;
	top: 76px;
	width: 237.5px;
	height: 237.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group25 .Rectangle811 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 237.5px;
	height: 237.5px;
	border-radius: 38px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group25 .Rectangle812 {
	position: absolute;
	left: 27.097265625px;
	top: 29.3015625px;
	width: 184.89931640625px;
	height: 175.81123046874998px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .mindfulnesstabs .Group25 .CommonUnhealthyThoughtPatterns {
	position: absolute;
	left: 27.549999999999997px;
	top: 51.3px;
	width: 184.89931640625px;
	height: 109.49677734375px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 26.599999999999998px;
	font-weight: 700;
	line-height: 33.382999420166016px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group20 {
	position: absolute;
	left: 446.5px;
	top: 228.95px;
	width: 237.5px;
	height: 237.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group20 .Rectangle777 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 237.5px;
	height: 237.5px;
	border-radius: 38px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group20 .Rectangle777_1 {
	position: absolute;
	left: 27.097265625px;
	top: 29.3015625px;
	width: 184.89931640625px;
	height: 175.81123046874998px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group20 ._7ColumnThoughtRecord {
	position: absolute;
	left: 36.1px;
	top: 59.849999999999994px;
	width: 168.15px;
	height: 109.25px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 26.599999999999998px;
	font-weight: 700;
	line-height: 33.382999420166016px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group22 {
	position: absolute;
	left: 773.3px;
	top: 535.8px;
	width: 237.5px;
	height: 237.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group22 .Rectangle785 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 237.5px;
	height: 237.5px;
	border-radius: 38px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group22 .Rectangle786 {
	position: absolute;
	left: 27.097265625px;
	top: 29.3015625px;
	width: 184.89931640625px;
	height: 175.81123046874998px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group22 .WorryWorksheet {
	position: absolute;
	left: 22.799999999999997px;
	top: 76px;
	width: 192.85px;
	height: 107.35px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,17,17,1.00);
	font-family: Mulish;
	font-size: 26.599999999999998px;
	font-weight: 700;
	line-height: 33.382999420166016px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .HomeBar {
	position: absolute;
	left: 556.6999999999999px;
	top: 833.15px;
	width: 323px;
	height: 99.75px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .HomeBar .Group47404 {
	position: absolute;
	left: 122.55px;
	top: 0px;
	width: 77.89999999999999px;
	height: 77.89999999999999px;
	border-radius: 53.199999999999996px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .HomeBar .Group47404 .background {
	position: absolute;
	left: 47.5%;
	bottom: 0px;
	transform: translate(-50%, 0);
	width: 77.89999999999999px;
	height: 77.89999999999999px;
	background: rgba(255,255,255,1.00);
	border-radius: 53.199999999999996px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .HomeBar .Group47404 .background_1 {
	position: absolute;
	left: 47.5%;
	bottom: 5.33447265625px;
	transform: translate(-50%, 0);
	width: 67.22919921875px;
	height: 67.22919921875px;
	background: rgba(255,221,100,1.00);
	border-radius: 53.199999999999996px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .HomeBar .ButtonHome {
	position: absolute;
	left: 146.29999999999998px;
	top: 19.95px;
	width: 30.4px;
	height: 32.3px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .HomeBar .ButtonHome .Home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30.4px;
	height: 32.3px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .HomeBar .ButtonHome .Home .Rectangle2 {
	position: absolute;
	left: 2.8499999999999996px;
	top: 2.375px;
	width: 30.4px;
	height: 30.4px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group19 {
	position: absolute;
	left: 1118.1499999999999px;
	top: 535.8px;
	width: 237.5px;
	height: 237.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group19 .Rectangle813 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 237.5px;
	height: 237.5px;
	border-radius: 38px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group19 .Rectangle814 {
	position: absolute;
	left: 27.097265625px;
	top: 29.3015625px;
	width: 184.89931640625px;
	height: 175.81123046874998px;
	background: rgba(238,238,238,1.00);
	border-radius: 9.5px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Group19 .AnxietyCopingMethods {
	position: absolute;
	left: 27.549999999999997px;
	top: 58.9px;
	width: 184.89931640625px;
	height: 143.42587890625px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Mulish;
	font-size: 26.599999999999998px;
	font-weight: 700;
	line-height: 33.382999420166016px;
}
.ThoughtsandEmotionsFillouts_ThoughtsandEmotionsFillouts .Rectangle783_1 {
	position: absolute;
	left: 1244.5px;
	top: 0px;
	width: 191.89999999999998px;
	height: 171px;
	object-fit: cover;
	overflow: hidden;
}